<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roblox.KeyGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Roblox.KeyGenerator.Properties.Settings>
            <setting name="GeneratePem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateBlobs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Base64EncodedBlobs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublicKeyBlobFileName" serializeAs="String">
                <value>PublicKeyBlob.txt</value>
            </setting>
            <setting name="PrivateKeyBlobFileName" serializeAs="String">
                <value>PrivateKeyBlob.txt</value>
            </setting>
            <setting name="PrivateKeyPemFileName" serializeAs="String">
                <value>PrivateKey.pem</value>
            </setting>
        </Roblox.KeyGenerator.Properties.Settings>
    </userSettings>
</configuration>