<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Roblox.ScriptSigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Roblox.ScriptSigner.Properties.Settings>
            <setting name="NewSignatureFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateNewFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneratedNewFileSuffix" serializeAs="String">
                <value>.signed</value>
            </setting>
            <setting name="PrivateKeyBlobFileName" serializeAs="String">
                <value>PrivateKeyBlob.txt</value>
            </setting>
            <setting name="PrivateKeyBlobIsBase64" serializeAs="String">
                <value>True</value>
            </setting>
        </Roblox.ScriptSigner.Properties.Settings>
    </userSettings>
</configuration>